<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
      <a class="navbar-brand" href="#">Blogify</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" href="/">Home</a>
              </li>

              <% if (locals.user) { %>
              <li class="nav-item">
                  <a class="nav-link" href="/blog/add-new">Add Blog</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <%= locals.user.name %>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/profile">Profile</a></li>
                      <li><a class="dropdown-item" href="/settings">Settings</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
                  </ul>
              </li>
              <% } else { %>
              <li class="nav-item">
                  <a class="nav-link" href="/user/signin">Sign In</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/user/signup">Create Account</a>
              </li>
              <% } %>

              <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
              </li>
          </ul>

          <div class="d-flex">
              <ul class="navbar-nav mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link" href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</nav>

<% if (locals.error) { %>
<div class="container mt-4">
  <div class="alert alert-danger" role="alert">
      <%= locals.error %>
  </div>
</div>
<% } %>