<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Signin</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container">
        <form action="/user/signin" method="post" class="container mt-5">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="password" placeholder="Enter your password" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>          
    </div>
    
</body>
<%- include('./partials/scripts') %>

</html>